In [1]:
from pyspark.sql import SparkSession
import pandas

In [2]:
spark = SparkSession\
    .builder\
    .appName("twitter_transformation")\
    .getOrCreate()

your 131072x1 screen size is bogus. expect trouble
25/08/15 13:59:10 WARN Utils: Your hostname, NT005818 resolves to a loopback address: 127.0.1.1; using 10.255.255.254 instead (on interface lo)
25/08/15 13:59:10 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/08/15 13:59:11 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [4]:
df = spark.read.json("/home/dev-exata/Documents/projects/alura_airflow/datalake/bronze/twitter_datascience/extract_date=2025-07-12/datascience_20250712.json")

In [5]:
df.toPandas()

,data,includes,meta
0,"[(96, 51, 2025-07-12T07:25:37.679104+0000, [67...","([(2025-07-12T16:23:50.714842+0000, 58, User 1...","(1234567890abcdef,)"
1,"[(93, 11, 2025-07-12T00:53:49.895385+0000, [81...","([(2025-07-12T14:52:58.784183+0000, 72, User 1...","(1234567890abcdef,)"
2,"[(57, 52, 2025-07-12T17:40:54.851126+0000, [62...","([(2025-07-12T15:07:56.593081+0000, 17, User 1...",None

In [7]:
df.printSchema()

root
 |-- data: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- author_id: string (nullable = true)
 |    |    |-- conversation_id: string (nullable = true)
 |    |    |-- created_at: string (nullable = true)
 |    |    |-- edit_history_tweet_ids: array (nullable = true)
 |    |    |    |-- element: long (containsNull = true)
 |    |    |-- id: string (nullable = true)
 |    |    |-- in_reply_to_user_id: string (nullable = true)
 |    |    |-- lang: string (nullable = true)
 |    |    |-- public_metrics: struct (nullable = true)
 |    |    |    |-- like_count: long (nullable = true)
 |    |    |    |-- quote_count: long (nullable = true)
 |    |    |    |-- reply_count: long (nullable = true)
 |    |    |    |-- retweet_count: long (nullable = true)
 |    |    |-- text: string (nullable = true)
 |-- includes: struct (nullable = true)
 |    |-- users: array (nullable = true)
 |    |    |-- element: struct (containsNull = true)
 |    |    |    |-- created_at: string (nullable = true)
 |    |    |    |-- id: string (nullable = true)
 |    |    |    |-- name: string (nullable = true)
 |    |    |    |-- username: string (nullable = true)
 |-- meta: struct (nullable = true)
 |    |-- next_token: string (nullable = true)
 |-- extract_date: date (nullable = true)

In [7]:
from pyspark.sql import functions as f

In [8]:
df.select(f.explode('data')).printSchema()

root
 |-- col: struct (nullable = true)
 |    |-- author_id: string (nullable = true)
 |    |-- conversation_id: string (nullable = true)
 |    |-- created_at: string (nullable = true)
 |    |-- edit_history_tweet_ids: array (nullable = true)
 |    |    |-- element: long (containsNull = true)
 |    |-- id: string (nullable = true)
 |    |-- in_reply_to_user_id: string (nullable = true)
 |    |-- lang: string (nullable = true)
 |    |-- public_metrics: struct (nullable = true)
 |    |    |-- like_count: long (nullable = true)
 |    |    |-- quote_count: long (nullable = true)
 |    |    |-- reply_count: long (nullable = true)
 |    |    |-- retweet_count: long (nullable = true)
 |    |-- text: string (nullable = true)

In [9]:
df.select(f.explode('data')).toPandas()

                                                  col
0   (96, 51, 2025-07-12T07:25:37.679104+0000, [67]...
1   (80, 45, 2025-07-12T15:25:44.348288+0000, [19]...
2   (0, 29, 2025-07-12T19:04:36.192205+0000, [53],...
3   (20, 59, 2025-07-12T08:53:42.409498+0000, [52]...
4   (48, 43, 2025-07-12T19:15:59.216788+0000, [66]...
5   (94, 52, 2025-07-12T19:07:31.768073+0000, [55]...
6   (53, 22, 2025-07-12T12:07:26.348808+0000, [91]...
7   (2, 66, 2025-07-12T13:11:33.382616+0000, [85],...
8   (59, 41, 2025-07-12T07:10:32.809167+0000, [100...
9   (41, 55, 2025-07-12T12:19:34.972157+0000, [78]...
10  (93, 11, 2025-07-12T00:53:49.895385+0000, [81]...
11  (2, 89, 2025-07-12T14:13:10.747603+0000, [54],...
12  (51, 56, 2025-07-12T04:03:01.514175+0000, [20]...
13  (82, 74, 2025-07-12T06:42:36.523159+0000, [11]...
14  (48, 42, 2025-07-12T22:39:29.890325+0000, [64]...
15  (22, 100, 2025-07-12T15:34:34.715216+0000, [38...
16  (45, 69, 2025-07-12T15:05:53.028027+0000, [58]...
17  (11, 85, 2025-07-12T12:49:01.035030+0000, [3],...
18  (24, 14, 2025-07-12T00:00:00.731244+0000, [65]...
19  (36, 96, 2025-07-12T19:47:19.776850+0000, [25]...
20  (57, 52, 2025-07-12T17:40:54.851126+0000, [62]...
21  (81, 88, 2025-07-12T04:25:45.324777+0000, [85]...
22  (66, 96, 2025-07-12T03:00:48.043915+0000, [17]...
23  (65, 70, 2025-07-12T08:16:03.121617+0000, [1],...
24  (9, 84, 2025-07-12T16:15:37.907962+0000, [83],...
25  (34, 46, 2025-07-12T12:53:23.725377+0000, [88]...
26  (77, 83, 2025-07-12T07:13:14.003273+0000, [39]...
27  (27, 56, 2025-07-12T16:18:01.243232+0000, [15]...
28  (38, 35, 2025-07-12T08:10:32.952598+0000, [13]...
29  (57, 78, 2025-07-12T03:15:27.097024+0000, [37]...

In [10]:
df.select(f.explode("data").alias("tweets"))\
.select("tweets.author_id", "tweets.conversation_id",
        "tweets.created_at", "tweets.id",
        "tweets.public_metrics.*", "tweets.text").printSchema()

root
 |-- author_id: string (nullable = true)
 |-- conversation_id: string (nullable = true)
 |-- created_at: string (nullable = true)
 |-- id: string (nullable = true)
 |-- like_count: long (nullable = true)
 |-- quote_count: long (nullable = true)
 |-- reply_count: long (nullable = true)
 |-- retweet_count: long (nullable = true)
 |-- text: string (nullable = true)

In [12]:
tweet_df = df.select(f.explode("data").alias("tweets"))\
.select("tweets.author_id", "tweets.conversation_id",
        "tweets.created_at", "tweets.id",
        "tweets.public_metrics.*", "tweets.text")

In [ ]:
tweet_df.toPandas(5)

+---------+---------------+--------------------+---+----------+-----------+-----------+-------------+--------------------+
|author_id|conversation_id|          created_at| id|like_count|quote_count|reply_count|retweet_count|                text|
+---------+---------------+--------------------+---+----------+-----------+-----------+-------------+--------------------+
|       91|             58|2025-07-12T04:22:...|  4|        22|         21|        100|            8|Tweet fictício cr...|
|       45|             30|2025-07-12T07:53:...|  0|        43|         50|          8|           90|Um terceiro tweet...|
|       35|             32|2025-07-12T17:01:...| 48|        61|         75|         29|           19|Um terceiro tweet...|
|       91|             10|2025-07-12T01:14:...| 69|        50|         55|         69|           44|Outro tweet fictí...|
|       52|             44|2025-07-12T13:34:...| 75|         8|         26|         23|           44|Outro tweet fictí...|
+---------+---------------+--------------------+---+----------+-----------+-----------+-------------+--------------------+
only showing top 5 rows

In [14]:
df.printSchema()

root
 |-- data: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- author_id: string (nullable = true)
 |    |    |-- conversation_id: string (nullable = true)
 |    |    |-- created_at: string (nullable = true)
 |    |    |-- edit_history_tweet_ids: array (nullable = true)
 |    |    |    |-- element: long (containsNull = true)
 |    |    |-- id: string (nullable = true)
 |    |    |-- in_reply_to_user_id: string (nullable = true)
 |    |    |-- lang: string (nullable = true)
 |    |    |-- public_metrics: struct (nullable = true)
 |    |    |    |-- like_count: long (nullable = true)
 |    |    |    |-- quote_count: long (nullable = true)
 |    |    |    |-- reply_count: long (nullable = true)
 |    |    |    |-- retweet_count: long (nullable = true)
 |    |    |-- text: string (nullable = true)
 |-- includes: struct (nullable = true)
 |    |-- users: array (nullable = true)
 |    |    |-- element: struct (containsNull = true)
 |    |    |    |-- created_at: string (nullable = true)
 |    |    |    |-- id: string (nullable = true)
 |    |    |    |-- name: string (nullable = true)
 |    |    |    |-- username: string (nullable = true)
 |-- meta: struct (nullable = true)
 |    |-- next_token: string (nullable = true)
 |-- extract_date: date (nullable = true)

In [15]:
df.select(f.explode('includes.users')).printSchema()

root
 |-- col: struct (nullable = true)
 |    |-- created_at: string (nullable = true)
 |    |-- id: string (nullable = true)
 |    |-- name: string (nullable = true)
 |    |-- username: string (nullable = true)

In [16]:
df.select(f.explode('includes.users').alias('users')).select('users.*').printSchema()

root
 |-- created_at: string (nullable = true)
 |-- id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- username: string (nullable = true)

In [17]:
user_df = df.select(f.explode('includes.users').alias('users')).select('users.*')

In [ ]:
user_df.toPandas(5)

+--------------------+---+------+--------+
|          created_at| id|  name|username|
+--------------------+---+------+--------+
|2025-07-12T17:36:...| 58|User 1|   user1|
|2025-07-12T06:55:...| 42|User 2|   user2|
|2025-07-12T10:08:...| 36|User 3|   user3|
|2025-07-12T02:10:...|  8|User 4|   user4|
|2025-07-12T02:08:...| 92|User 5|   user5|
+--------------------+---+------+--------+
only showing top 5 rows

In [19]:
tweet_df.coalesce(1).write.mode("overwrite").json('output/tweet')

In [20]:
user_df.coalesce(1).write.mode("overwrite").json('output/user')